<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>items</key>
   <array>
       <dict>
           <key>assets</key>
           <array>
               <dict>
                   <key>kind</key>
                   <string>software-package</string>
                   <key>url</key>
                   <string>https://pdrepo-bx.pajkdc.com/dev/pharmacy-ios/f4424/f4424_1_0_0_prod_37/pharmacy-ios_f4424_1_0_0_prod_37.ipa</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>display-image</string>
                   <key>url</key>
                   <string>https://pdrepo-bx.pajkdc.com/dev/pharmacy-ios/f4424/f4424_1_0_0_prod_37/pharmacy-ios_f4424_1_0_0_prod_37.png</string>
               </dict>
               <dict>
                   <key>kind</key>
                   <string>full-size-image</string>
                   <key>url</key>
                   <string>https://pdrepo-bx.pajkdc.com/dev/pharmacy-ios/f4424/f4424_1_0_0_prod_37/pharmacy-ios_f4424_1_0_0_prod_37.png</string>
               </dict>
           </array><key>metadata</key>
           <dict>
               <key>bundle-identifier</key>
               <string>com.pajk.pharmacy.en</string>
               <key>kind</key>
               <string>software</string>
               <key>subtitle</key>
               <string>一心堂好医生</string>
               <key>title</key>
               <string>一心堂好医生</string>
           </dict>
       </dict>
   </array>
</dict>
</plist>
